
@page
@using OdeToFood.Core
@model OdeToFood.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>

<form method="get">
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="SearchTerm" placeholder="Restaurant name">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <select class="form-control" asp-for="SearchCuisine" asp-items="Html.GetEnumSelectList<CuisineType>()"></select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                @Html.DropDownListFor(l => l.SearchLocation, new SelectList(Model.Locations, "City", "City"), "All Locations", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit" title="Search Restaurant"><i class="fas fa-search"></i></button>
                <a class="btn btn-outline-primary" asp-page="./Edit" type="button" title="Create New Restaurant"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}